
.log{
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
    font-size: xx-large;
}
.log button{
    width: 5vw;
    height: 5vh;
    background-color: red;
    color: white;
    border: none;
    position: absolute;
    top:30vh;
}
.log h2{
    position: relative;
    top:17vh;
}