.sidebar ul li{
    font-size: x-large;
    margin-top: 10vh;
}
.sidebar-btn {
  display: block;      
  padding: 10px 20px;
  margin: 5px 0;
  background-color:black;
  color: white;          
  text-decoration: none;   
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-btn:hover {
  background-color: #0056b3; 
}
