.movie input[type=text]{
    width: 30vw;
    height: 5vh;
    margin: 2vh;
    background-color: rgb(59, 57, 57);
    color: white;
    border-radius: 5px;
    font-size: x-large;
    border: 2px solid black;
    
}
.movie input[type=file]{
    width: 20vw;
    height: 4vh;
    margin: 2vh;
    background-color:black;
    color: white;
    border-radius: 5px;
    font-size: x-large;
    border: 2px solid black;
    
}
.movie{
    font-size: larger;
}
.movie button{
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    background-color: red;
    color:black;
    font-size: large;
    border: 2px solid black;
}