/* ====================== */
/* Original Mainpage CSS */
/* ====================== */
.mainpage {
    width: 100vw;
}
.mainpage .page {
    position: relative;
    top: 10vh;
}

/* ====================== */
/* Responsive Media Queries */
/* ====================== */
@media screen and (max-width: 1024px) {
    .mainpage .page {
        top: 8vh;
    }
}

@media screen and (max-width: 768px) {
    .mainpage .page {
        top: 6vh;
    }
}
